:root{
	--transition: all 0.3s linear;
}

nav {
	background: var(--clr-white);
	box-shadow: var(--light-shadow);
  }
  .nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
  }
  .nav-toggle {
	font-size: 1.5rem;
	background: transparent;
	border-color: transparent;
	transition: var(--transition);
	cursor: pointer;
  }
  .nav-toggle:hover {
	transform: rotate(90deg);
	background-color: white;
  }

  .links a {
	color : black;
	text-shadow: 2px 2px 2px gold;
	font-size: 2rem;
	text-transform: capitalize;
	display: block;
	padding: 0.5rem 1rem;
	transition: var(--transition);
  }
  .links a:hover {
	padding-left: 1.5rem;
  }
  .social-icons {
	text-shadow: 2px 2px 2px gold;
	color: black;
	display: none;
  }
  .links {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
  }
  .show-links {
	height: 13rem;
  }
  @media screen and (min-width: 800px) {
	.nav-center {
	  max-width: 1170px;
	  margin: 0 auto;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  padding: 1rem;
	}
	.nav-header {
	  padding: 0;
	}
	.nav-toggle {
	display: none;
	}
	.links {
	  height: auto;
	  display: flex;
	}
	.links a {
	  padding: 0;
	  margin: 0 0.5rem;
	}
	.links a:hover {
	  padding: 0;
	  background: transparent;
	}
	.social-icons {
	  display: flex;
	}
	.social-icons a {
	  margin: 0 0.5rem;
	  color: black;
	  transition: var(--transition);
	}
  }
ul{
	list-style-type: none;
}
li:hover{
	color: rgb(117, 117, 117);
	transition: var(--transition);
}
li a{
	color: black;
	font-family: 'NBA Clippers';
	text-decoration: none;
} 
li a:hover{
	color:purple;
	transition: var(--transition);
}

img{
	float:none;
	font-size: 20px;
	text-align: center ;
	font-style: bold;
	height:50%;
	width: 50%;
}
@font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1{
	color:gold;
	font-family: 'pricedown', sans-serif;
	font-style: oblique;
	font-size: 3rem;
	text-shadow: 2px 2px 2px black;
}
h2{
	color:black;
	font-family: 'pricedown', sans-serif;
	font-style: oblique;
	text-shadow: 2px 2px 2px grey;
}
td a:hover{
	color:gold;
	transition: var(--transition);
}
a:hover{
	color: gold;
	transition: var(--transition);
}
a{
	font-family: NBA Clippers;
	color:black;
	text-decoration: none ;
}
.title{
    width:50%;
    float: left;
    height: 10rem;
}
#login{
    line-height: 100px;
    text-align: right;
}
.columns{
    width: 100%;
    text-align: center;
    align-content: center;
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    row-gap: 20px;
}
.bottom{
    width: 50%;
    float: left;
    height: auto;
}
#next{
    text-align: right;
}
#slider{
position: relative;
max-width: 50%;
margin-left: auto;
margin-right: auto;
align-content: center;
text-align: center;
display: flex;
}
#slider img{
    margin-left: auto;
	margin-right: auto;
    display: block;
}
.product{
	font-weight: bold;
	color: rgb(65, 65, 65);
	text-shadow: 0.5px 0.5px 0.5px grey;
}
button{
	background-color: rgba(19, 19, 19, 0.747);
	border: none;
	color: white;
	cursor: pointer;
	padding: 10px 35px;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px black;
}
label{
	font-weight: bold;
}
.cart{
	justify-content: center;
	width: 70%;
    text-align: center;
    align-content: center;
    display: grid;
    grid-auto-flow:row;
    gap: 2em;
    row-gap: 20px;
	margin-left: auto;
	margin-right: auto;
}
.cart img{
	max-width: 300px;
	width: auto;
	height: auto;
}
hr{
	height: 2px;
	color: grey;
}
.remove{
	color: white;
	background-color: rgb(255, 62, 62);
	border-radius: 3px;
}
.carousel-slide img{
	width: 100%;
}
.carousel-container{
width: 25%;	
margin: auto;
padding: 0px;
box-sizing: border-box;
border: 5px solid rgb(255, 255, 255);
overflow: hidden;
position: relative;
}
.carousel-slide{
	display: flex;
	width: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
#previousbtn{
	position: absolute;
	top: 50%;
	left: 5%;
	z-index: 10;
	font-size: 30px;
	color: rgb(238, 224, 34);
	opacity: 0.5;
	cursor: pointer;
}
#nextbtn{
	position: absolute;
	top: 50%;
	right: 5%;
	z-index: 10;
	font-size: 30px;
	color: rgb(238, 224, 34);
	opacity: 0.5;
	cursor: pointer;
}
button:hover{
	background-color: rgb(59, 59, 59);
	transition: var(--transition);
}
.remove:hover{
	background-color: red;
	transition: var(--transition);
}
